Extras/SDK and Guides/Bloodlines SDK/SDKBinaries/tools/PackFile Explorer/PackfileExplorer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PackFileExplorer">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Register">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Driver">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="Validation">
                      <xs:complexType>
                        <xs:attribute name="offset" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="hex" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="icon" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="description" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Exclude">
                <xs:complexType>
                  <xs:attribute name="extension" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="extension" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="definition" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>